.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}
.tooltip:hover {
    font-weight: bold; /* Set the font-weight for the hovered state */
}

.tooltip::after {
    content: attr(data-definition);
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 8px 12px; /* Adjust padding for your preferred size */
    border-radius: 5px;
    display: none;
    z-index: 1;
    width: 300px; /* Set the desired width */
}

.tooltip.right::after {
    left: auto;
    right: calc(100% + 5px);
    transform: translateX(0);
}

.tooltip.left::after {
    left: calc(100% + 5px);
    right: auto;
    transform: translateX(-100%);
}

.tooltip:hover::after {
    display: block;
    width: 200px;
}

/* Adjust positioning when word is on the left side of the screen */
.tooltip.left:hover::after {
    left: calc(100% + 5px);
    right: auto;
    transform: translateX(-100%);
}

/* Adjust positioning when word is on the right side of the screen */
.tooltip.right:hover::after {
    left: auto;
    right: calc(100% + 5px);
    transform: translateX(0);
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    gap: 20px;
    padding: 120px;
    background-color: #AAA1C8;
}

.card {
    background-color: #D5C6E0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    width: 500px;
    flex-grow: 1;
    min-height: 0;
}

.card:hover {
    background-color: #f0f0f0;
}

.card a {
    text-decoration: none;
    color: #333;
}

.card h2 {
    margin: 0;
}
