.main {
  text-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 80px;
  gap: 64px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  gap: 24px;
}

.heading {
  font-size: 40px;
  font-weight: bolder;
}

.subheading {
  font-size: 14px;
}

.right {
  display: flex;
}
.placeholder {
  height: 100px;
  width: 100px;
  background-color: blue;
}

.carrying {
  width: 500px;
  margin-right: 120px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attribution {
  font-size: 6px;
}

.plots {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 850px) {
  .carrying {
    width: 500px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 800px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .left {
    align-items: center;
  }
}
